.logo {
    width: 50px;
    top: 20px;
    left: 50px;
}

.headshot {
    width: 300px;
}

.images {
    width: 300px;
    float: left;
}

h3 {
    position:relative;
    float: right;
    margin: 20px;
}

h1 {
    font-family: "bree-serif";
}

h2 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}